.grid {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.color-btn {
  width: 120px;
  height: 120px;
  font-size: 0;
  border: none;
  border-radius: 10px;
  transition: opacity 0.3s;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
yellow {
  background: yellow;
}
.highlight {
  opacity: 0.5;
}
.message {
  font-size: 1.2em;
  margin-top: 15px;
}
